.section1 {
  background-color: $smoke;
  min-height: 75%;
}

.section2{
  background-color: $primary-color;
  min-height: 25%;
  border-top: 10px solid $white;
  position: relative;
}


.panel {
  border-bottom: 10px solid $secondary-color;
  border-radius: 4px;
}

.title {
  text-align: center;
  color: $jet;
}

.iconlist {
  list-style-type: none;
  text-align: center;
  margin-left: 0;
  li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
  }
}

.icon {
  width:28px;
  max-width: 100%;
}

.profile {
  border-radius: 50%;
  width: 260px;
  max-width: 100%;
  border: 10px solid $secondary-color;
  display: block;
  margin: auto;
  margin-top: 8%;
}